/* CARDS*/
.add-pull-card {
  background: transparent;

grid-column: span 2;
}

.add-pull-card {
  background: var(--card-bg);
  border-radius: 15px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

/* ADD PULL CARD */
.character-add-pull-box {
  background: #d5c6f3;
  height: 100px;
  margin: 10px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #333;
  font-weight: bold;
  border-radius: 10px;
}

/* RARITY GRID BUTTONS */
.rarity-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.rarity-grid button {
  padding: 20px 30px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.character-card {
  background: #d8c7ff;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.character-card.selected {
  border: 2px;
  background: #c9b6ff;
}