/* MODALS */
.modal {
  display: none;
  position: fixed;
  inset: 0; 
  background: rgba(0, 0, 0, 0.4); 
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #e6d9ff;
  width: 600px;
  max-height: 80vh;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: #c9b6ff;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}