.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #e6d9ff;
  border-radius: 21px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  text-align: center;
  position: relative;
  width: 900px; 
}

.close-btn {
  position: absolute;
  top: 14px;
  right: 21px;
  border: none;
  background: #c9b6ff;
  padding: 7px 14px;
  border-radius: 11px;
  cursor: pointer;
}

.rarity-grid {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-top: 28px;
}

.radio-label {
  padding: 28px 42px;
  border-radius: 17px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  font-size: 1.2rem;
}

.blue { background-color: #90d8e9; }
.purple { background-color: #d1c4e9; }
.gold { background-color: #e6ce9d; }

.character-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px;
  max-height: 700px;
  overflow-y: auto;
  padding-right: 14px;
}

.character-grid::-webkit-scrollbar {
  width: 11px;
}

.character-grid::-webkit-scrollbar-thumb {
  background: #c9b6ff;
  border-radius: 14px;
}

.character-grid::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

.character-card {
  background: #d8c7ff;
  border-radius: 17px;
  padding: 14px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  overflow: hidden;
  width: 200px;
  margin: 0 auto;
}

.character-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border-radius: 11px;
  display: block;
  margin-bottom: 11px;
}

.character-card p {
  font-size: 1.1rem;
  font-weight: bold;
}

.character-card:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0,0,0,0.2);
}

.search-input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #d8c7ff;
  font-size: 0.95rem;
  width: 100%;
  box-sizing: border-box;
}